* {
    margin: 5px;
    padding: 0;
}

body {
    background-color: #FFFFFF;    
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Roboto';
}

.sobre .sobre__cabecalho {
    padding: 5% 8.5% 0% 8.5%;    
    
}

.sobre .sobre__numero {           
    color: #8B8B8B;
    font-size: 18px;
    font-weight: 600;
    display: inline;
    margin-left: 4em;
}

.sobre .sobre__texto-titulo {
    display: inline;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
    
}

.sobre__titulo {
    font-size: 64px;
    font-weight: 700;
    line-height: 4rem;
    color: black;
    margin: 4% 24% 3% 0px;
    margin-left: 3em;

}
.cartao__secao {
    display: flex;
    justify-content: space-around;
}

    
.cartao__servicos{   
    width: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 293px;
    border-radius: 48px;
    background-color: #FFFFFF;
       
}

.cartao__servicos:hover {
    background-color: #5468E7;
    transition: 0.8s;
    
}

.cartao__titulo {
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.inicio {
    display: inline-block;
    
    background-repeat: initial;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.cabecalho__design {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cabecalho__inicio {
    display: flex;    
    justify-content: flex-start;
}

.cabecalho__numero {    
    color: #8B8B8B;
    font-size: 18px;
    font-weight: 600;
    display: inline;
    margin-left: 10em;
}

.cabecalho__titulo-inicio {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.titulo__inicio {
    font-size: 32px;
    font-weight: 700;
    line-height: 4rem;
    color: black;    
    margin-left: 8em;
}


.numero__grande {
    display: flex;
    flex-direction: column;
    
    font-weight: 600;
    font-size: 9rem;
    color: #5468E7;
    margin-left: 3em;
}

.status__titulo {
    margin-left: 28em;
}
.logo__telefone {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: baseline;
}

.sobre__texto {
    margin-left: 10em;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.534);
}

.texto__sapiens {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.texto__descricao {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #606060;
      
}

.setas__avancar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 15em;
}

.seta__voltar {    
    margin-top: 11px;
    width: 40px;
}

.seta_avancar {
    width: 70px;
}

.artigo__sapiens {
    margin-bottom: 100px;
}

.sapiens__descricao {
    margin-left: 7em;
}

.imagem__pequena {
    width: 80%;
}

.texto__bento3d {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #606060;
}

.bento__3d {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #232340;;
}

.imagem__bento-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

@media screen and (min-width:768px) {
    .cartao__servicos {
        flex-direction: column;
        height: 340px;
        width: 25%;
    }

    .sobre__titulo {
        font-size: 48px;
        font-weight: 700;
        line-height: 4rem;
        color: black;
        margin: 5% 0% 5% 0px;
        margin-left: 2em;
    }

    .rodape__final {
        margin-right: 20em;
    }

    .numero__grande {
        margin: 2px;
    }
    .status__titulo {
        margin: 0;
    }

    .folio__rodape-imagem {
        margin-left: 23em;

    }
}